.rightShadow {
  box-shadow: 0px 0px 50px 0px rgba(226, 236, 249, 0.50);
}
.shadowCard {
  box-shadow:0px 10.220000267028809px 61.29999923706055px 0px rgba(226, 236, 249, 0.50);
}
.primary-bg {
  background-color: rgba(27, 89, 248, 0.10);;
}

.primary-bgInput {
  background-color: #F9FBFF;
}